[package]
name = "infra"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
domain = { path = "../domain" }
sqlx = { workspace = true }
uuid = { workspace = true }
